# Energy Consumption data analysis

All this data was pulled from the US Energy Information Administration (EIA). In this notebook I imported most of the datasets from the link below and joined them together into one dataset. The final dataset consists of the columns:

['Country', 'Energy_type', 'Year', 'Energy_consumption', 'Energy_production', 'GDP', 'Population', 'energy intensity by GDP and population', 'C02_emissions']

https://www.eia.gov/international/data/world?pd=10&p=00000000000000000000000000000000000000000000000c000g&u=0&f=A&v=mapbubble&a=-&i=none&vo=value&t=C&g=00000000000000000000000000000000000000000000000001&l=249-ruvvvvvfvtvnvv1vrvvvvfvvvvvvfvvvou20evvvvvvvvvvnvvvs0008&s=315532800000&e=1388534400000

In [1]:
# Analysis Tools
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import norm

# Plotting Design Settings
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid", {"axes.facecolor": "#E2E2E2", 'grid.color': '#B0B0B0', 'patch.edgecolor': '#B0B0B0', 'font.sans-serif': 'Verdana'})
sns.set_palette('twilight')

# Feature Engineering
from feature_engine.encoding import OneHotEncoder as fe_OneHotEncoder, OrdinalEncoder
from feature_engine.outliers import Winsorizer
from feature_engine.selection import DropConstantFeatures
from collections import defaultdict
from sklearn.model_selection import cross_val_score, cross_validate, train_test_split
from sklearn.preprocessing import MinMaxScaler

# Modeling
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC


# Scoring
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import f1_score


# Mute warnings
import warnings
warnings.filterwarnings('ignore')

## Importing dataset and making it usable

In [2]:
# Creating column names for both datasets
year_columns = ['API', 'Country', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
                '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
                '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']


# Check periodicly if new dataset with 2020 data shows up!!!!!!

# Total Energy Consumption dataset
econ = pd.read_csv('C:/Users/benva/OneDrive/Documents/Code/Machine Learning/GlobalWarmingProject/Temp Datasets/Total_energy_consumption.csv', names=year_columns)

# Total Energy Production dataset
eprod = pd.read_csv('C:/Users/benva/OneDrive/Documents/Code/Machine Learning/GlobalWarmingProject/Temp Datasets/Total_energy_production.csv', names=year_columns)

# GDP by year of each Country dataset
gdp = pd.read_csv('C:/Users/benva/OneDrive/Documents/Code/Machine Learning/GlobalWarmingProject/Temp Datasets/GDP_by_country.csv', names=year_columns)

# Population by year of each Country Dataset
pop = pd.read_csv('C:/Users/benva/OneDrive/Documents/Code/Machine Learning/GlobalWarmingProject/Temp Datasets/Population_by_country.csv', names=year_columns)

# Energy intensity by GDP and population
ei_gdp_pop = pd.read_csv('C:/Users/benva/OneDrive/Documents/Code/Machine Learning/GlobalWarmingProject/Temp Datasets/Energy_intensity_by_GDP_and_population.csv', names=year_columns)



# this one goes from 1949 - 2019
co2_year_columns = ['API', 'Country', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957', '1958', '1959', '1961', '1962',
                '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
                '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
                '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011',
                '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

# C02 Emissions
co2_e = pd.read_csv('C:/Users/benva/OneDrive/Documents/Code/Machine Learning/GlobalWarmingProject/Temp Datasets/Emissions_by_fuel.csv', names=co2_year_columns)

In [3]:
econ.shape

(1626, 42)

In [4]:
eprod.shape

(1626, 42)

In [5]:
gdp.shape

(234, 42)

In [6]:
pop.shape

(234, 42)

In [7]:
ei_gdp_pop.shape

(466, 42)

In [8]:
co2_e.shape

(930, 72)

In [9]:
econ.head()

,API,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Report generated on: 02-25-2022 16:49:01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,API,NaN,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,NaN,total energy consumption (quad Btu),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTL.44-2-WORL-QBTU.A,World,292.89978962044677,289.40102169937586,289.6911022148106,293.73162574512844,307.2343654436228,315.4271480750418,322.18485367832346,332.7462452429408,...,526.7304676782012,540.4951270120151,551.6003834140112,561.0921505733213,566.1299422438332,567.3288217730257,572.1592307317517,584.2018162974296,597.7365823171332,601.0404899538854
4,INTL.44-2-AFG-QBTU.A,Afghanistan,0.02658321667756184,0.029949457623843767,0.031897814673808554,0.03902180313163165,0.03920224040186807,0.03827496129519434,0.039111198580053776,0.06306515769145625,...,0.11853852864995157,0.16105080218714038,0.1476076485691699,0.12450427328434109,0.1143137511302674,0.12629013628746977,0.11757565429923286,0.12494125714475693,0.14327311946093876,0.12274842133951257

In [10]:
eprod.head()

,API,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Report generated on: 02-25-2022 16:49:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,API,NaN,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,NaN,total energy production (quad Btu),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTL.44-1-WORL-QBTU.A,World,296.33722758863627,291.2877731828766,290.1205665759991,293.0466469371524,308.92101366220777,316.46426154850144,326.7530652183027,334.3845057886132,...,518.7316575467809,534.1878726115887,546.3336053856784,554.1775530046207,563.3312418721082,568.5582919870983,564.5802759287474,578.2452544015486,600.7287295060831,611.5089686476265
4,INTL.44-1-AFG-QBTU.A,Afghanistan,0.07256115614667066,0.09272365463746368,0.09506786743187949,0.09971281973566948,0.09982734303917455,0.12096783009943252,0.12054976892110061,0.114835081155632,...,0.02692579367150454,0.04104421211242948,0.037492262916033615,0.040816563280627896,0.04478950651933605,0.04205799729038833,0.04950511782484147,0.05950054255404184,0.06317585556177092,0.05521030952760256

Both the datasets above, econ and eprod are identical, other than the fact that econ is on energy consumption and eprod is on energy production

In [11]:
gdp.head()

,API,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Report generated on: 02-25-2022 16:50:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,API,NaN,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,NaN,GDP at purchasing power parities (Billion 2015...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTL.4701-34-WORL-BDOLPPP.A,World,27770.910281,28665.819138,28801.769507,29617.577192,31097.252511,32289.040681,33425.371024,34792.987235,...,94617.526435,98369.0322,101534.112578,104859.448866,108404.179858,111935.895738,115567.880105,119854.321707,124161.994035,127690.247059
4,INTL.4701-34-AFG-BDOLPPP.A,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.7712,60.6103,66.4914,70.9136,73.0931,72.056,73.2453,75.1899,76.3784,79.4546

In [12]:
pop.head()

,API,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Report generated on: 02-25-2022 16:50:32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,API,NaN,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,NaN,population (Mperson),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTL.4702-33-WORL-THP.A,World,4298126.5224,4377059.5593,4456829.97443,4537793.89383,4572800.78237,4657357.404,4745135.92538,4835605.8458,...,6948810.014,7041712.689,7126262.29402,7211822.209,7297269.981,7379227.32003,7464042.84623,7548343.78937,7632247.01155,7714631.06383
4,INTL.4702-33-AFG-THP.A,Afghanistan,13356.5,13171.7,12882.5,12537.7,12204.3,11938.2,11736.2,11604.5,...,29185.5,30117.4,31161.4,32269.6,33370.8,34413.6,35383,36296.1,37173.5,38050.9

In [13]:
ei_gdp_pop.head()

,API,Country,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Report generated on: 02-25-2022 16:50:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,API,NaN,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
2,NaN,energy consumption per capita (MMBtu/person),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTL.47-33-WORL-MBTUPP.A,World,68.14592080851462,66.11767963825885,64.9993614019032,64.73005002375997,67.18734973719734,67.72663566771476,67.89791878354302,68.81169720066202,...,75.80153531568423,76.75620277100106,77.40388448470195,77.80171700199513,77.58106027567479,76.88187355782925,76.65540545774634,77.394701751679,78.31724804144427,77.90916830382986
4,INTL.47-33-AFG-MBTUPP.A,Afghanistan,1.9902831338720353,2.2737731366371663,2.476057805069556,3.11235738067043,3.212166236643484,3.206091479049969,3.332526591235134,5.434543297122344,...,4.061555520719247,5.347433782037638,4.736874741480483,3.8582527606273733,3.4255622019929817,3.6697740511736567,3.32294192971859,3.4422777418168047,3.8541735230994862,3.225900605229116

In [14]:
co2_e.head()

,API,Country,1949,1950,1951,1952,1953,1954,1955,1956,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Report generated on: 02-25-2022 16:51:54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,API,NaN,1949.000000,1950.000000,1951.000000,1952.000000,1953.000000,1954.00000,1955.000000,1956.000000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,NaN,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,INTL.4008-8-WORL-MMTCD.A,World,2206.690829,2382.046176,2526.687327,2473.373964,2536.892888,2422.25256,2684.786146,2777.042758,...,30621.827233626,32519.305374489,33633.324487296,34423.41474807,34839.904249264,34894.260052604,34751.60559312,34572.38070396,35002.900777162,35584.933497695
4,INTL.4008-8-AFG-MMTCD.A,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.230759779,7.794436305,11.097938929,9.753422695,7.910700222,7.169380063,7.852509211,7.279395964,7.886124149,9.391163087

#### Removing unecesary cells in each dataset

In [15]:
# Dropping first 2 rows
econ.drop([0, 1], axis=0, inplace=True)
eprod.drop([0, 1], axis=0, inplace=True)
ei_gdp_pop.drop([0, 1], axis=0, inplace=True)
co2_e.drop([0, 1], axis=0, inplace=True)

# Dropping first 3 rows for gdp and pop
gdp.drop([0, 1, 2], axis=0, inplace=True)
pop.drop([0, 1, 2], axis=0, inplace=True)

# Dropping first column 'API'
econ.drop('API', axis=1, inplace=True)
eprod.drop('API', axis=1, inplace=True)
gdp.drop('API', axis=1, inplace=True)
pop.drop('API', axis=1, inplace=True)
ei_gdp_pop.drop('API', axis=1, inplace=True)

# Dropping first column 'API' as well as all columns up to 1980
co2_e.drop(['API', '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956',
            '1957', '1958', '1959', '1961', '1962', '1963', '1964', '1965', '1966',
            '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
            '1976', '1977', '1978', '1979'], axis=1, inplace=True)

# Reseting the Index
econ.reset_index(inplace=True, drop=True)
eprod.reset_index(inplace=True, drop=True)
gdp.reset_index(inplace=True, drop=True)
pop.reset_index(inplace=True, drop=True)
ei_gdp_pop.reset_index(inplace=True, drop=True)
co2_e.reset_index(inplace=True, drop=True)

In [16]:
econ

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,total energy consumption (quad Btu),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,292.89978962044677,289.40102169937586,289.6911022148106,293.73162574512844,307.2343654436228,315.4271480750418,322.18485367832346,332.7462452429408,345.56087642070815,...,526.7304676782012,540.4951270120151,551.6003834140112,561.0921505733213,566.1299422438332,567.3288217730257,572.1592307317517,584.2018162974296,597.7365823171332,601.0404899538854
2,Afghanistan,0.02658321667756184,0.029949457623843767,0.031897814673808554,0.03902180313163165,0.03920224040186807,0.03827496129519434,0.039111198580053776,0.06306515769145625,0.11122078650562646,...,0.11853852864995157,0.16105080218714038,0.1476076485691699,0.12450427328434109,0.1143137511302674,0.12629013628746977,0.11757565429923286,0.12494125714475693,0.14327311946093876,0.12274842133951257
3,Albania,0.16298182182124926,0.16204449273682853,0.16284611700217974,0.16933585149179003,0.1704057218202433,0.17005625500667076,0.16607537777033485,0.1666405283961216,0.1685908728103857,...,0.12304402332284661,0.10743348644120246,0.1051279333181231,0.13193111766441915,0.11621639284070061,0.11629730243544255,0.1296073826057356,0.12535309157946248,0.14218504560125175,0.11074824093269141
4,Algeria,0.7806951671133022,0.6633913232329025,0.952188115918025,1.0705618432163024,1.1307867129706235,1.0464182466677772,1.0663009617019872,1.1383186539191739,1.2131193653810644,...,1.7777604019160995,1.9379902738228294,2.0982041249829453,2.037585597537122,2.299898896758712,2.351782231770593,2.3361518937806958,2.361200900056517,2.5157731727516484,2.643502654452609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,Wake Island,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1620,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1621,Yemen,0,0,0,0,0,0,0,0,0,...,0.000019512,0.000019432,0.000028548,0.000038164,0.00008559,0.00102509,0.001357104,0.001685979,0.004169632,0.004452
1622,Zambia,0.0842504416429,0.09095160935112,0.09276673989719,0.093613620726,0.091707448,0.092414884,0.09076501,0.081980147,0.080546524,...,0.099506171504,0.111397717312,0.1142021,0.122629646264,0.12864310304,0.119627497176,0.106216508816,0.113591182889,0.120469815456,0.12081104372
1623,Zimbabwe,0.048444954208071205,0.05046783364946544,0.0469485018375528,0.04638594741959329,0.044750279253740324,0.04092042533688736,0.04250369955649184,0.02945526213645744,0.031615065577815994,...,0.05583163815663164,0.048768864395256115,0.05018734222135467,0.04801175729660101,0.04981978302326546,0.04467141061628047,0.03402892074162278,0.04369470723399742,0.04924605970368813,0.06808920146710537

In [17]:
eprod

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,total energy production (quad Btu),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,296.33722758863627,291.2877731828766,290.1205665759991,293.0466469371524,308.92101366220777,316.46426154850144,326.7530652183027,334.3845057886132,347.41286310379365,...,518.7316575467809,534.1878726115887,546.3336053856784,554.1775530046207,563.3312418721082,568.5582919870983,564.5802759287474,578.2452544015486,600.7287295060831,611.5089686476265
2,Afghanistan,0.07256115614667066,0.09272365463746368,0.09506786743187949,0.09971281973566948,0.09982734303917455,0.12096783009943252,0.12054976892110061,0.114835081155632,0.1213943959239381,...,0.02692579367150454,0.04104421211242948,0.037492262916033615,0.040816563280627896,0.04478950651933605,0.04205799729038833,0.04950511782484147,0.05950054255404184,0.06317585556177092,0.05521030952760256
3,Albania,0.155561620237156,0.15869138293903517,0.20594415566567068,0.23469322168485068,0.19102506227402413,0.19172993827692245,0.19659552252877113,0.20238806446252838,0.18641741777005813,...,0.09849116932673144,0.07585689950134678,0.0840378737211778,0.10563648550534094,0.09296194121961915,0.10225470403895913,0.12535621607056832,0.08229649004849868,0.11552948572255144,0.08908229857345225
4,Algeria,2.803017355026457,3.0375368604701833,3.224933778884667,3.6064004828010217,3.8591760033483915,3.907465537569512,3.9683247789434253,4.21808633368004,4.297753784176673,...,6.927837879172395,6.828492246382395,6.999409831111563,6.5104186447871735,6.561760333289481,6.696192522564449,6.910709728136037,6.763856727052585,6.688552187874529,6.429790182459667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,Wake Island,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1620,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1621,Yemen,0,0,0,0,0,0,0,0,0,...,0.000019512,0.000019432,0.000028548,0.000038164,0.00008559,0.00102509,0.001357104,0.001685979,0.004169632,0.004452
1622,Zambia,0.0935959096429,0.10114325335112,0.10363054789719,0.104463780726,0.10213452,0.102923844,0.10127397,0.087029907,0.085596284,...,0.101433951504,0.111087225312,0.116989704,0.126075766264,0.13288421904,0.120961589176,0.101470416816,0.114648902889,0.124130891456,0.12346557972
1623,Zimbabwe,0.04198125584814,0.04334492366864,0.03808018551984,0.039651764249,0.0365081148,0.032800352,0.033392709,0.026619417,0.0282339508,...,0.05692626,0.0513043664,0.052395096,0.04885229279925,0.05343727633293,0.04824355770153,0.029787245478528,0.038756876,0.048416397,0.067499237

In [18]:
gdp

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,World,27770.910281,28665.819138,28801.769507,29617.577192,31097.252511,32289.040681,33425.371024,34792.987235,42106.595403,...,94617.526435,98369.0322,101534.112578,104859.448866,108404.179858,111935.895738,115567.880105,119854.321707,124161.994035,127690.247059
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.7013,...,56.7712,60.6103,66.4914,70.9136,73.0931,72.056,73.2453,75.1899,76.3784,79.4546
2,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.6877,...,30.743,31.5255,31.9724,32.2927,32.8658,33.595,34.7087,36.0284,37.4765,38.2684
3,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,219.921,...,405.452,417.21,431.395,443.474,460.326,477.358,492.633,499.038,505.026,509.066
4,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.576,0.574,0.644,0.641,0.642,0.661,0.652,0.602,0.636,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Wake Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122.668,104.159,106.437,110.258,98.5626,68.543,58.5318,52.7009,51.992,53.0838
229,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71.2451,...,169.5431,178.9776,192.5756,202.3145,211.7024,217.9309,226.1135,234.0865,243.5819,247.1819
230,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.2287,...,26.1448,29.8557,34.8313,35.5243,36.3687,37.016,37.2958,39.0502,40.9362,37.6204

In [19]:
pop

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,World,4298126.5224,4377059.5593,4456829.97443,4537793.89383,4572800.78237,4657357.404,4745135.92538,4835605.8458,4927545.0842,...,6948810.014,7041712.689,7126262.29402,7211822.209,7297269.981,7379227.32003,7464042.84623,7548343.78937,7632247.01155,7714631.06383
1,Afghanistan,13356.5,13171.7,12882.5,12537.7,12204.3,11938.2,11736.2,11604.5,11618,...,29185.5,30117.4,31161.4,32269.6,33370.8,34413.6,35383,36296.1,37173.5,38050.9
2,Albania,2682.7,2737.02,2790.28,2844.87,2904.14,2969.67,3044.2,3124.89,3200.97,...,2948.03,2928.6,2914.09,2903.79,2896.31,2890.52,2886.43,2884.17,2882.05,2879.92
3,Algeria,19221.7,19824.3,20452.9,21101.9,21763.6,22431.5,23102.4,23774.3,24443.5,...,35977.4,36661.4,37383.9,38140.1,38923.7,39728,40551.4,41389.2,42209.8,43030.4
4,American Samoa,32.646,33.701,34.968,36.412,37.946,39.519,41.119,42.74,44.343,...,56.079,55.759,55.667,55.713,55.791,55.812,55.741,55.62,55.465,55.312
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,Wake Island,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,Western Sahara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,Yemen,7941.9,8231.91,8541.61,8869.36,9213.08,9572.17,9941.1,10322,10730.9,...,23154.8,23807.6,24473.2,25147.1,25823.5,26497.9,27168.2,27834.8,28498.5,29162.2
229,Zambia,5851.817,6055.363,6265.87,6481.905,6701.548,6923.147,7146.965,7372.835,7598.27,...,13606,14023.18,14465.15,14926.53,15399.8,15879.38,16363.45,16853.6,17363.72,17873.85
230,Zimbabwe,7408.63,7675.58,7958.24,8254.75,8562.26,8877.49,9200.15,9527.2,9849.13,...,12697.7,12894.3,13115.2,13350.4,13586.7,13814.6,14030.3,14236.6,14445.4,14654.2

In [20]:
ei_gdp_pop

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,energy consumption per capita (MMBtu/person),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,68.14592080851462,66.11767963825885,64.9993614019032,64.73005002375997,67.18734973719734,67.72663566771476,67.89791878354302,68.81169720066202,70.12840481738806,...,75.80153531568423,76.75620277100106,77.40388448470195,77.80171700199513,77.58106027567479,76.88187355782925,76.65540545774634,77.394701751679,78.31724804144427,77.90916830382986
2,Afghanistan,1.9902831338720353,2.2737731366371663,2.476057805069556,3.11235738067043,3.212166236643484,3.206091479049969,3.332526591235134,5.434543297122344,9.573143958136207,...,4.061555520719247,5.347433782037638,4.736874741480483,3.8582527606273733,3.4255622019929817,3.6697740511736567,3.32294192971859,3.4422777418168047,3.8541735230994862,3.225900605229116
3,Albania,60.752906333637476,59.20471634727863,58.361926760819614,59.52323005683565,58.67682750151277,57.26436102552498,54.554686870223655,53.326846191744856,52.668682558844885,...,41.73771071625683,36.684247231169316,36.075733185359105,45.43411116658544,40.12567468285529,40.2340417763733,44.90231275511119,43.462449016341786,49.33469079344625,38.4553185271436
4,Algeria,40.61530286672366,33.46354339032917,46.5551641047492,50.73295974373409,51.95770520367143,46.64949943908242,46.155419424041966,47.88021745831313,49.629527906439925,...,49.413253929302826,52.861873082392634,56.125875710745674,53.42370884022648,59.08736571185966,59.19709604738706,57.609648342121254,57.04872044051388,59.60163688886581,61.43337395080243
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Wake Island,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
460,Western Sahara,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
461,Yemen,0,0,0,0,0,0,0,0,0,...,2.7742874485759597,2.745226716195416,2.3278365292917402,3.171370317413033,3.3581897449322806,2.6071051164501315,2.443451042807191,2.504412320318868,2.361163979796315,2.9956346213705087
462,Zambia,0,0,0,0,0,0,0,0,1.7070595067346914,...,0.7683591714822431,0.8154172322799056,0.8142557261121618,0.8218490959250522,0.8429966596642897,0.7924680967724622,0.7203060396079056,0.8025461644402722,0.867474607972482,0.8378305890652841
463,Zimbabwe,0,0,0,0,0,0,0,0,11.244435329485814,...,6.0202802938126805,5.7475130216087384,5.336970608706031,5.319145371698123,5.1229891499926765,5.037746583880338,4.2694022193850705,4.013815739906505,3.9594241303798734,4.482961604833744

In [21]:
co2_e

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,CO2 emissions (MMtonnes CO2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,4946.62713,18701.974390117,18327.413968122,18284.002342435,18478.512213667,19602.547366601,20027.312840344,20511.371402668,21163.840556468,...,30621.827233626,32519.305374489,33633.324487296,34423.41474807,34839.904249264,34894.260052604,34751.60559312,34572.38070396,35002.900777162,35584.933497695
2,Afghanistan,NaN,1.325964518,1.509627735,1.65960468,2.05960468,2.065436114,2.093515917,2.311010238,3.646724197,...,6.230759779,7.794436305,11.097938929,9.753422695,7.910700222,7.169380063,7.852509211,7.279395964,7.886124149,9.391163087
3,Albania,NaN,9.618526399,9.533068754,9.594264089,9.981384922,10.126808525,10.0889756,10.154939541,9.828091766,...,3.02339894,3.673558222,3.756730087,3.393630544,3.857129766,4.043419507,3.913785734,4.105771205,4.483725681,4.031301559
4,Algeria,NaN,45.663590904,39.376193382,56.531989464,63.168954306,66.766862302,61.757201027,60.918466391,64.343004942,...,99.380185852,101.352896736,112.488751213,122.016837732,118.720563943,131.695938497,138.622437629,137.190705524,137.678348102,145.987969135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,Wake Island,NaN,1.23566,1.2,1.2,1.2,1.2,1.2,1.3,1.3,...,1.3,1.2954475286034979,1.2978968706239917,1.3014527524613186,1.2978968706239917,1.2978968706239917,1.2978968706239917,1.298108468455726,1.2719549586239927,1.2737868546239928
924,Western Sahara,NaN,0.15699,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.3,0.3,0.2676640063021204,0.26080606525442773,0.2689223903567869,0.2684851998757719,0.270403,0.269783,0.26303823989786146,0.26303823989786146
925,Yemen,NaN,6.43422,6.6,7.7,7,8.9,9.9,10,9.9,...,20,22,18.55858838418988,15.661195605698236,21.455366,20.888499,9.957683,8.371222,8.15101,7.888358
926,Zambia,NaN,2.21293,2,2,2,1.8,1.7,1.8,1.9,...,2,2,2.2833131328989174,2.6941848042448058,2.8296932137810265,3.2481110278628478,3.551921,3.383059895344,3.750432460396,4.20218759386
927,Zimbabwe,NaN,1.78085,2.1,1.7,2.1,2,2.1,2.3,2.5,...,1.9,1.9,3.4354812808811364,3.7707232037412988,4.332745200240738,3.933601322227187,4.090398,3.536959,3.530557764081192,4.377889944348768

#### Energy type name and index locations in both econ and eprod datasets
total energy consumption (quad Btu) - 0
coal (quad Btu) - 232
natural gas (quad Btu) - 464
petroleum and other liquids (quad Btu) - 696
nuclear, renewables, and other (quad Btu) - 928
nuclear (quad Btu) - 1160
renewables and other (quad Btu) - 1392


#### GDP type name and index locations in gdp dataset
GDP at purchasing power parities (Billion 2015$$ PPP) - 0


#### Population type name and index locations in pol dataset
population (Mperson) - 0


#### Energy intensity type name and index locations in ie_gdp_pop dataset
energy consumption per capita (MMBtu/person) - 0
energy consumption per GDP (1000 Btu/2015$ GDP PPP) - 232


#### Emission type name and index location in the co2_e dataset
CO2 emissions (MMtonnes CO2) - 0

theres ['nuclear, renewables, and other'], and also ['nuclear'] with ['renewables and other']. This is kindove redundant, im just going to remove ['nuclear and renewables, and other']

#### Splitting each energy source by index and turning them into seperate temporary datasets for econ, eprod and ei_gdp_pop datasets

In [22]:
# Locating the index position of each Energy Type in econ dataset
total_con = econ.iloc[1:232]
coal_con = econ.iloc[233:464]
natural_gas_con = econ.iloc[465:696]
petroleum_n_other_liquids_con = econ.iloc[697:928]
nuclear_renewables_n_other_con = econ.iloc[929:1160]    #Leaving this one out!!!
nuclear_con = econ.iloc[1161:1392]
renewables_n_other_con = econ.iloc[1393:1624]


# Locating the index position of each Energy Type in eprod dataset
total_prod = eprod.iloc[1:232]
coal_prod = eprod.iloc[233:464]
natural_gas_prod = eprod.iloc[465:696]
petroleum_n_other_liquids_prod = eprod.iloc[697:928]
nuclear_renewables_n_other_prod = eprod.iloc[929:1160]    #Leaving this one out!!!
nuclear_prod = eprod.iloc[1161:1392]
renewables_n_other_prod = eprod.iloc[1393:1624]

# Locating the index position of both Energy intensity of GDP and Population in ei_gdp_pop dataset
energy_consumption_per_capita = ei_gdp_pop[1:232]
energy_consumption_per_GDP = ei_gdp_pop[233:464]

# Locating the index position for CO2 emissions in co2 dataset -- Only using the total emissions for this datset
total_CO2 = co2_e.iloc[1:232]
coal_CO2 = co2_e.iloc[233:464]
natural_gas_CO2 = co2_e.iloc[465:696]
petroleum_n_other_liquids_CO2 = co2_e.iloc[697:928]
# For CO2 dataset I need to create 2 new temporary datasets
# not previously in the original dataset for the 2 extra energy types
# For nuclear
nuclear_CO2 = co2_e.iloc[0:232].copy()
nuclear_CO2.loc[0, 'Country'] = 'Nuclear'
nuclear_CO2.loc[1:,'1980':'2019'] = 0
# For renewables/other
renewables_n_other_CO2 = co2_e.iloc[0:232].copy()
renewables_n_other_CO2.loc[0, 'Country'] = 'Renewables/other'
renewables_n_other_CO2.loc[1:,'1980':'2019'] = 0
# [0:232]

# Putting all of them into a list
econ_indexes = [total_con, coal_con, natural_gas_con, petroleum_n_other_liquids_con, nuclear_con, renewables_n_other_con]
eprod_indexes = [total_prod, coal_prod, natural_gas_prod, petroleum_n_other_liquids_prod, nuclear_prod, renewables_n_other_prod]
ei_gdp_pop_indexes = [energy_consumption_per_capita, energy_consumption_per_GDP]
co2_e_indexes = [total_CO2, coal_CO2, natural_gas_CO2, petroleum_n_other_liquids_CO2, nuclear_CO2, renewables_n_other_CO2]

# Function to split into temporary datasets
def temp_df(index):
    # Running the list through a for loop that turns each of them into a seperate dataframe
    for x in index:
        df_name = pd.DataFrame(x)


temp_df(econ_indexes)
temp_df(eprod_indexes)

# Splitting these now and wont be joining it back up, will make these seperate columns at the end
temp_df(ei_gdp_pop_indexes)
temp_df(co2_e_indexes)

In [23]:
total_CO2

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,World,4946.62713,18701.974390117,18327.413968122,18284.002342435,18478.512213667,19602.547366601,20027.312840344,20511.371402668,21163.840556468,...,30621.827233626,32519.305374489,33633.324487296,34423.41474807,34839.904249264,34894.260052604,34751.60559312,34572.38070396,35002.900777162,35584.933497695
2,Afghanistan,NaN,1.325964518,1.509627735,1.65960468,2.05960468,2.065436114,2.093515917,2.311010238,3.646724197,...,6.230759779,7.794436305,11.097938929,9.753422695,7.910700222,7.169380063,7.852509211,7.279395964,7.886124149,9.391163087
3,Albania,NaN,9.618526399,9.533068754,9.594264089,9.981384922,10.126808525,10.0889756,10.154939541,9.828091766,...,3.02339894,3.673558222,3.756730087,3.393630544,3.857129766,4.043419507,3.913785734,4.105771205,4.483725681,4.031301559
4,Algeria,NaN,45.663590904,39.376193382,56.531989464,63.168954306,66.766862302,61.757201027,60.918466391,64.343004942,...,99.380185852,101.352896736,112.488751213,122.016837732,118.720563943,131.695938497,138.622437629,137.190705524,137.678348102,145.987969135
5,American Samoa,NaN,0.425070708,0.499607404,0.696422442,0.439048931,0.500976192,0.469328168,0.484467786,0.503031549,...,0.601936254,0.601936254,0.35542766,0.356401475,0.35542766,0.35542766,0.35542766,0.355427692,0.35542766,0.35542766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Wake Island,NaN,1.23566,1.2,1.2,1.2,1.2,1.2,1.3,1.3,...,1.3,1.295447529,1.297896871,1.301452752,1.297896871,1.297896871,1.297896871,1.298108468,1.271954959,1.273786855
228,Western Sahara,NaN,0.15699,0.2,0.2,0.2,0.2,0.2,0.2,0.2,...,0.3,0.3,0.267664006,0.260806065,0.26892239,0.2684852,0.270403,0.269783,0.26303824,0.26303824
229,Yemen,NaN,6.43422,6.6,7.7,7,8.9,9.9,10,9.9,...,20.948010277,24.339585376,20.318221681,17.044172859,23.975684299,22.354079518,11.979031441,9.687529038,9.043446352,8.292505229
230,Zambia,NaN,3.62725204,3.130211794,3.231777522,3.099228588,2.860020567,2.781549986,2.999671558,2.914289542,...,2.364738092,2.294449236,2.446639655,2.930656509,3.170716329,3.611288509,3.940613316,4.228833733,5.687526839,7.09628982
231,Zimbabwe,NaN,7.673434383,7.531253431,7.332897573,7.584832144,7.783562489,9.060527367,10.726554045,13.695975939,...,7.395101269,8.522609295,9.921276072,10.923623604,11.587550012,11.298274885,11.82044929,10.417493607,9.243045568,8.964759021

#### Creating new column for the specific energy source of each temporary dataset

In [24]:
def make_columns(df, value):
    df.insert(1, 'Energy_type', value)


# for econ dataset
make_columns(total_con, 'all_energy_types')
make_columns(coal_con, 'coal')
make_columns(natural_gas_con, 'natural_gas')
make_columns(petroleum_n_other_liquids_con, 'petroleum_n_other_liquids')
make_columns(nuclear_con, 'nuclear')
make_columns(renewables_n_other_con, 'renewables_n_other')

# for eprod dataset
make_columns(total_prod, 'all_energy_types')
make_columns(coal_prod, 'coal')
make_columns(natural_gas_prod, 'natural_gas')
make_columns(petroleum_n_other_liquids_prod, 'petroleum_n_other_liquids')
make_columns(nuclear_prod, 'nuclear')
make_columns(renewables_n_other_prod, 'renewables_n_other')

# for ei_gdp_pop dataset
make_columns(energy_consumption_per_capita, 'energy_consumption_per_capita')
make_columns(energy_consumption_per_GDP, 'energy_consumption_per_GDP')

# for co2_e datset
make_columns(total_CO2, 'all_energy_types')
make_columns(coal_CO2, 'coal')
make_columns(natural_gas_CO2, 'natural_gas')
make_columns(petroleum_n_other_liquids_CO2, 'petroleum_n_other_liquids')
make_columns(nuclear_CO2, 'nuclear')
make_columns(renewables_n_other_CO2, 'renewables_n_other')

In [25]:
coal_con.head()

,Country,Energy_type,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
233,World,coal,78.65613402957176,78.9635811572502,80.42233145882604,82.63117397819225,86.35602132998221,89.40927570308125,90.43233993374493,94.05052174459549,...,157.78400778429594,166.2996775467487,171.40109186597854,173.32209852457285,172.36054129319592,167.55604551302267,163.26576382050655,164.2355903925062,165.88969331156548,163.97177585957522
234,Afghanistan,coal,0.0024792482148388983,0.0026042523630414455,0.0030209327940489256,0.0030209327940489256,0.0030834347736486832,0.003145936942251473,0.0033334430700537776,0.0034792812114562443,...,0.015104663781241597,0.03083430993588047,0.025834151567899852,0.02806338884029121,0.031613501281557446,0.028438400717889757,0.03537612045346286,0.04564727910102304,0.05093911337380253,0.04456391145462724
235,Albania,coal,0.024317314523581157,0.025770486274170428,0.029070074678547934,0.03146270929689194,0.03399786552216729,0.03624797855457778,0.03566855295477164,0.03728748741744574,...,0.0035249441657845544,0.0033113416915863596,0.0029688882665851292,0.002642520161491151,0.003339683613892591,0.002822255337070553,0.002199419837735592,0.002175237164280488,0.0021807442857157584,0.0024943557431554015
236,Algeria,coal,0.0025473980424690033,0.007655064470875166,0.020475800605753863,0.03321382392874011,0.03423572313878258,0.03424213176739014,0.034610210701987144,0.035079318419173874,...,0.000046554578705383786,0.000054955601161265284,0.0004334178297892882,0.0012596214769158304,0.0008353278614203434,0.0005769222932545153,0.0005752187520015624,0.000924225066126768,0.00041041788252525746,0.0004054356405179378
237,American Samoa,coal,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
total_CO2.head()

,Country,Energy_type,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,World,all_energy_types,4946.62713,18701.974390117,18327.413968122,18284.002342435,18478.512213667,19602.547366601,20027.312840344,20511.371402668,...,30621.827233626,32519.305374489,33633.324487296,34423.41474807,34839.904249264,34894.260052604,34751.60559312,34572.38070396,35002.900777162,35584.933497695
2,Afghanistan,all_energy_types,NaN,1.325964518,1.509627735,1.65960468,2.05960468,2.065436114,2.093515917,2.311010238,...,6.230759779,7.794436305,11.097938929,9.753422695,7.910700222,7.169380063,7.852509211,7.279395964,7.886124149,9.391163087
3,Albania,all_energy_types,NaN,9.618526399,9.533068754,9.594264089,9.981384922,10.126808525,10.0889756,10.154939541,...,3.02339894,3.673558222,3.756730087,3.393630544,3.857129766,4.043419507,3.913785734,4.105771205,4.483725681,4.031301559
4,Algeria,all_energy_types,NaN,45.663590904,39.376193382,56.531989464,63.168954306,66.766862302,61.757201027,60.918466391,...,99.380185852,101.352896736,112.488751213,122.016837732,118.720563943,131.695938497,138.622437629,137.190705524,137.678348102,145.987969135
5,American Samoa,all_energy_types,NaN,0.425070708,0.499607404,0.696422442,0.439048931,0.500976192,0.469328168,0.484467786,...,0.601936254,0.601936254,0.35542766,0.356401475,0.35542766,0.35542766,0.35542766,0.355427692,0.35542766,0.35542766

In [27]:
coal_CO2

,Country,Energy_type,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
233,World,coal,1409.790188,7474.451783472067,7500.570037339787,7637.0571729077965,7847.456002190892,8200.682660904273,8492.224771197689,8592.516827712843,...,13867.179119508768,15001.88223245512,15810.993222426312,16293.987126218846,16472.731944844498,16382.288249101699,15926.204269356636,15514.189322313727,15608.517756453744,15773.074340737823
234,Afghanistan,coal,NaN,0.2313138584444692,0.24297674547176684,0.2818530296847648,0.2818530296847648,0.28768446438142214,0.2935159167120624,0.31101023843601744,...,0.9719069818870674,1.409265130789841,2.8768411170176478,2.410326341285056,2.61831417879917,2.94953966956931,2.6533027869791144,3.300592038308085,4.25889114012545,4.752619277775776
235,Albania,coal,NaN,2.379753098919158,2.5220151238087323,2.8387607890497923,3.0703312922126327,3.3157548954572644,3.533472300393471,3.4772349211892024,...,0.36690699987268427,0.32997327378360214,0.30933648801027264,0.27731551776351104,0.2467157108686455,0.3115977020617652,0.2641770030799899,0.20566711837122503,0.20471895151274705,0.204335593307699
236,Algeria,coal,NaN,0.237672237362358,0.714217515132653,1.9103921965168353,3.098849772551452,3.1941929688484145,3.1947908938975,3.2291326584954003,...,1.1596179417871089,1.0998774436506722,1.4079356144051138,1.3887992445235853,0.9822674996421996,0.8337871136914249,0.513684727478933,0.39696490128164547,0.4101888764506955,0.23264744689886027
237,American Samoa,coal,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459,Wake Island,coal,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
460,Western Sahara,coal,NaN,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
461,Yemen,coal,NaN,0,0,0,0,0,0,0,...,0.21614454820295725,0.4082730354944748,0.4178794598590507,0.42748588422362654,0.4466987329527783,0.44910033904392227,0.3746505502184592,0.3242168223044359,0.3050039735752841,0.22137268855898173
462,Zambia,coal,NaN,1.4143220402654688,1.1302117936482599,1.2317775215597706,1.0992285881454942,1.0600205666524876,1.0815499862020221,1.1996715580503137,...,0.3647380919396126,0.2944492361735487,0.16332652174495782,0.23647170489660255,0.34102311529158835,0.3631774811626778,0.3886923160488281,0.8457738376610064,1.9370943788769777,2.8941022257255997
463,Zimbabwe,coal,NaN,5.892584383347116,5.431253430888819,5.632897573224048,5.484832144417045,5.783562488708455,6.960527367395166,8.42655404540736,...,5.49510126854593,6.622609294532339,6.4857947911449205,7.152900400401405,7.2548048118204465,7.364673562451252,7.730051289756011,6.880534607056748,5.712487803424883,4.586869076908337

In [28]:
nuclear_CO2

,Country,Energy_type,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Nuclear,nuclear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,World,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Afghanistan,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Albania,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Algeria,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Wake Island,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,Western Sahara,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
229,Yemen,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Zambia,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
231,Zimbabwe,nuclear,0.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### Joining econ and eprods temporary datasets back into single datsets

In [29]:
econ = pd.concat([total_con, coal_con, natural_gas_con, petroleum_n_other_liquids_con, nuclear_con, renewables_n_other_con])

eprod = pd.concat([total_prod, coal_prod, natural_gas_prod, petroleum_n_other_liquids_prod, nuclear_prod, renewables_n_other_prod])

#### Joining CO2 emissions temporary datasets back into one

In [30]:
CO2_emissions = pd.concat([total_CO2, coal_CO2, natural_gas_CO2, petroleum_n_other_liquids_CO2, nuclear_CO2, renewables_n_other_CO2])

In [31]:
CO2_emissions

,Country,Energy_type,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1,World,all_energy_types,4946.62713,18701.974390117,18327.413968122,18284.002342435,18478.512213667,19602.547366601,20027.312840344,20511.371402668,...,30621.827233626,32519.305374489,33633.324487296,34423.41474807,34839.904249264,34894.260052604,34751.60559312,34572.38070396,35002.900777162,35584.933497695
2,Afghanistan,all_energy_types,NaN,1.325964518,1.509627735,1.65960468,2.05960468,2.065436114,2.093515917,2.311010238,...,6.230759779,7.794436305,11.097938929,9.753422695,7.910700222,7.169380063,7.852509211,7.279395964,7.886124149,9.391163087
3,Albania,all_energy_types,NaN,9.618526399,9.533068754,9.594264089,9.981384922,10.126808525,10.0889756,10.154939541,...,3.02339894,3.673558222,3.756730087,3.393630544,3.857129766,4.043419507,3.913785734,4.105771205,4.483725681,4.031301559
4,Algeria,all_energy_types,NaN,45.663590904,39.376193382,56.531989464,63.168954306,66.766862302,61.757201027,60.918466391,...,99.380185852,101.352896736,112.488751213,122.016837732,118.720563943,131.695938497,138.622437629,137.190705524,137.678348102,145.987969135
5,American Samoa,all_energy_types,NaN,0.425070708,0.499607404,0.696422442,0.439048931,0.500976192,0.469328168,0.484467786,...,0.601936254,0.601936254,0.35542766,0.356401475,0.35542766,0.35542766,0.35542766,0.355427692,0.35542766,0.35542766
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227,Wake Island,renewables_n_other,0.00000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
228,Western Sahara,renewables_n_other,0.00000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
229,Yemen,renewables_n_other,0.00000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
230,Zambia,renewables_n_other,0.00000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
231,Zimbabwe,renewables_n_other,0.00000,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Stacking the Year Columns into one Column for every dataset

In [32]:
def stack_df(df,id_vars, value_name, column_names):
    year_list = ['1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991',
                '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
                '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019']

    # Specifying which year columns to stack
    year_cols = [x for x in df if x in year_list]
    # Stacking all the years
    df = pd.melt(df, id_vars=id_vars, value_vars=year_cols, value_name=value_name)
    # Changing the Column Names
    df.columns = column_names
    return df


data_con = stack_df(econ, ['Country', 'Energy_type'],'consumption', ['Country', 'Energy_type', 'Year', 'Energy_consumption'])
data_prod = stack_df(eprod, ['Country', 'Energy_type'],'consumption', ['Country', 'Energy_type', 'Year', 'Energy_production'])
data_gdp = stack_df(gdp, 'Country', 'GDP', ['Country', 'Year', 'GDP'])
data_pop = stack_df(pop, 'Country', 'Population', ['Country', 'Year', 'Population'])
data_ei_gdp = stack_df(energy_consumption_per_GDP, 'Country', 'Energy_intensity_by_GDP', ['Country', 'Year', 'Energy_intensity_by_GDP'])
data_ei_pop = stack_df(energy_consumption_per_capita, 'Country', 'Energy_intensity_per_capita', ['Country', 'Year', 'Energy_intensity_per_capita'])
data_co2 = stack_df(CO2_emissions, ['Country', 'Energy_type'], 'CO2_emission', ['Country', 'Energy_type', 'Year', 'CO2_emission'])

In [33]:
data_con

                      Country         Energy_type  Year   Energy_consumption
0                       World    all_energy_types  1980   292.89978962044677
1                 Afghanistan    all_energy_types  1980  0.02658321667756184
2                     Albania    all_energy_types  1980  0.16298182182124926
3                     Algeria    all_energy_types  1980   0.7806951671133022
4              American Samoa    all_energy_types  1980         0.0058931124
...                       ...                 ...   ...                  ...
55435             Wake Island  renewables_n_other  2019                    0
55436          Western Sahara  renewables_n_other  2019                    0
55437                   Yemen  renewables_n_other  2019             0.004452
55438                  Zambia  renewables_n_other  2019        0.12081104372
55439                Zimbabwe  renewables_n_other  2019  0.06808920146710537

[55440 rows x 4 columns]

In [34]:
data_prod

                      Country         Energy_type  Year    Energy_production
0                       World    all_energy_types  1980   296.33722758863627
1                 Afghanistan    all_energy_types  1980  0.07256115614667066
2                     Albania    all_energy_types  1980    0.155561620237156
3                     Algeria    all_energy_types  1980    2.803017355026457
4              American Samoa    all_energy_types  1980                    0
...                       ...                 ...   ...                  ...
55435             Wake Island  renewables_n_other  2019                    0
55436          Western Sahara  renewables_n_other  2019                    0
55437                   Yemen  renewables_n_other  2019             0.004452
55438                  Zambia  renewables_n_other  2019        0.12346557972
55439                Zimbabwe  renewables_n_other  2019          0.067499237

[55440 rows x 4 columns]

In [35]:
data_gdp

                     Country  Year           GDP
0                      World  1980  27770.910281
1                Afghanistan  1980           NaN
2                    Albania  1980           NaN
3                    Algeria  1980           NaN
4             American Samoa  1980           NaN
...                      ...   ...           ...
9235             Wake Island  2019           NaN
9236          Western Sahara  2019           NaN
9237                   Yemen  2019       53.0838
9238                  Zambia  2019      247.1819
9239                Zimbabwe  2019       37.6204

[9240 rows x 3 columns]

In [36]:
data_pop

                     Country  Year    Population
0                      World  1980  4298126.5224
1                Afghanistan  1980       13356.5
2                    Albania  1980        2682.7
3                    Algeria  1980       19221.7
4             American Samoa  1980        32.646
...                      ...   ...           ...
9235             Wake Island  2019           NaN
9236          Western Sahara  2019           NaN
9237                   Yemen  2019       29162.2
9238                  Zambia  2019      17873.85
9239                Zimbabwe  2019       14654.2

[9240 rows x 3 columns]

In [37]:
data_ei_gdp

                     Country  Year Energy_intensity_by_GDP
0                      World  1980      10.546999959912721
1                Afghanistan  1980                       0
2                    Albania  1980                       0
3                    Algeria  1980                       0
4             American Samoa  1980                       0
...                      ...   ...                     ...
9235             Wake Island  2019                       0
9236          Western Sahara  2019                       0
9237                   Yemen  2019      2.9956346213705087
9238                  Zambia  2019      0.8378305890652841
9239                Zimbabwe  2019       4.482961604833744

[9240 rows x 3 columns]

In [38]:
data_ei_pop

                     Country  Year Energy_intensity_per_capita
0                      World  1980           68.14592080851462
1                Afghanistan  1980          1.9902831338720353
2                    Albania  1980          60.752906333637476
3                    Algeria  1980           40.61530286672366
4             American Samoa  1980           180.5156037493108
...                      ...   ...                         ...
9235             Wake Island  2019                           0
9236          Western Sahara  2019                           0
9237                   Yemen  2019           5.452938019556406
9238                  Zambia  2019          11.586566793571398
9239                Zimbabwe  2019          11.508701174986516

[9240 rows x 3 columns]

In [39]:
data_co2

                      Country         Energy_type  Year CO2_emission
0                       World    all_energy_types  1980   4946.62713
1                 Afghanistan    all_energy_types  1980          NaN
2                     Albania    all_energy_types  1980          NaN
3                     Algeria    all_energy_types  1980          NaN
4              American Samoa    all_energy_types  1980          NaN
...                       ...                 ...   ...          ...
55515             Wake Island  renewables_n_other  2019            0
55516          Western Sahara  renewables_n_other  2019            0
55517                   Yemen  renewables_n_other  2019            0
55518                  Zambia  renewables_n_other  2019            0
55519                Zimbabwe  renewables_n_other  2019            0

[55520 rows x 4 columns]

#### Merging all datasets, data_con, data_prod, data_gdp, and data_pop into one dataset df

In [40]:
df = data_con.merge(data_prod)
df = df.merge(data_gdp)
df = df.merge(data_pop)
df = df.merge(data_ei_pop)
df = df.merge(data_ei_gdp)
df = df.merge(data_co2)

In [41]:
df

,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,World,all_energy_types,1980,292.89978962044677,296.33722758863627,27770.910281,4298126.5224,68.14592080851462,10.546999959912721,4946.62713
1,World,coal,1980,78.65613402957176,80.11419429217284,27770.910281,4298126.5224,68.14592080851462,10.546999959912721,1409.790188
2,World,natural_gas,1980,53.865223303,54.761045594,27770.910281,4298126.5224,68.14592080851462,10.546999959912721,1081.593377
3,World,petroleum_n_other_liquids,1980,132.06401937163076,133.11110886607943,27770.910281,4298126.5224,68.14592080851462,10.546999959912721,2455.243565
4,World,nuclear,1980,7.575700462108056,7.575700462108056,27770.910281,4298126.5224,68.14592080851462,10.546999959912721,0.0
...,...,...,...,...,...,...,...,...,...,...
55435,Zimbabwe,coal,2019,0.04506367279138204,0.07596296980682482,37.6204,14654.2,11.508701174986516,4.482961604833744,4.586869076908337
55436,Zimbabwe,natural_gas,2019,0,0,37.6204,14654.2,11.508701174986516,4.482961604833744,0
55437,Zimbabwe,petroleum_n_other_liquids,2019,0.0554979345,0,37.6204,14654.2,11.508701174986516,4.482961604833744,4.377889944348768
55438,Zimbabwe,nuclear,2019,NaN,NaN,37.6204,14654.2,11.508701174986516,4.482961604833744,0
55439,Zimbabwe,renewables_n_other,2019,0.06808920146710537,0.067499237,37.6204,14654.2,11.508701174986516,4.482961604833744,0

### Cleaning

**Removing White Space**

In [42]:
# 'Country' and 'e_type' both have white space in value names for some reason,
# I have to remove this before moving on

df['Country'] = [val.strip(' ') for val in df['Country']]
df['Energy_type'] = [val.strip(' ') for val in df['Energy_type']]

**Changing data types**

In [43]:
# Seems there are some missing values put as '--', im just going to replace them with NaN
df = df.replace('--', np.nan)

# Changing dtypes of columns that should be float
columns = ['Energy_consumption', 'Energy_production', 'GDP', 'Population',
           'Energy_intensity_per_capita', 'Energy_intensity_by_GDP', 'CO2_emission']
for var in columns:
    df[var] = df[var].astype(str).astype(float)
      
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55440 entries, 0 to 55439
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Country                      55440 non-null  object
 1   Energy_type                  55440 non-null  object
 2   Year                         55440 non-null  object
 3   Energy_consumption           44287 non-null  float64
 4   Energy_production            44289 non-null  float64
 5   GDP                          40026 non-null  float64
 6   Population                   46014 non-null  float64
 7   Energy_intensity_per_capita  50358 non-null  float64
 8   Energy_intensity_by_GDP      50358 non-null  float64
 9   CO2_emission                 51614 non-null  float64
dtypes: float64(7), object(3)
memory usage: 4.7+ MB

### !!!! Desired Columns So Far !!!
['Country', 'Energy_type', 'Year', 'Energy_consumption', 'Energy_production', 'GDP', 'Population', 'energy intensity by GDP and population', 'C02_emissions']

## Column descriptions
1. Country - Name of country
2. Energy_type - Type of energy
3. Year - Year documented
4. Energy_consumption - Amount of a specific energy source consumed each year, measured (quad Btu)
5. Energy_production - Amount of specific energy source produced each year, measured (quad Btu)
6. GDP -  Countries GDP at purchasing power parities, measured (Billion 2015$$ PPP)
7. Population - Countries Population, measured (Mperson)
8. Energy_intensity_by_GDP - Energy intensity is a measure of the energy inefficiency of an economy. It is calculated as units of energy per unit of GDP (1000 Btu/2015$ GDP PPP)
9. Energy_intensity_per_capita - Energy intensity is a measure of the energy inefficiency of an economy. It is calculated as units of energy per unit of capita (capita = individual person) (MMBtu/person)
10. CO2_emissions - CO2 emissions (MMtonnes CO2)

**Exporting Final Dataset**

In [44]:
df.to_csv("energy.csv")

### Questions I want to answer

* what type of energy source do 3rd world countries use the most?
* what type of energy source do 1st world countries use the most?
* Who produces the most co2 emissions, 1st world or 3rd world countries?
* who produces the most clean energy?
* who produces the most dirty energy?
* who produces the most energy overall?
* for each country, how has gdp and population affected energy consumption, production and emission
* Are 1st world counties better at reducing emisions by energy_intensity_per_capita (per person) than 3rd world countries
* what role does capitalistic counties play in co2 emmisions with relations to gdp, (energy intensity per gdp), population and (energy intensity per capita)